# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.db
instance/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.sqlite3

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log
