absl-py
aiodns
aiofiles
aiohttp
aiohttp-retry
aiohttp-socks
aiosignal
aiosqlite
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-timeout
attrs
Automat
autopep8
Babel
backcall
beautifulsoup4
bitarray
bleach
blinker
blynklib
cachetools
certifi
cffi
charset-normalizer
click
clr-loader
colorthief
comm
constantly
contourpy
cryptography
cssselect
cycler
datasets
debugpy
decorator
defusedxml
dill
discord
discord.py
distro
dlib
elastic-transport
elasticsearch
et-xmlfile
executing
face-recognition
face-recognition-models
fake-useragent
fastjsonschema
filelock
Flask
Flask-Uploads
Flask-WTF
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
geographiclib
geopy
google-api-core
google-auth
google-auth-oauthlib
google-cloud-speech
google-pasta
googleapis-common-protos
googletransx
groq
grpcio
grpcio-status
h11
h5py
httpcore
httpx
huggingface-hub
hyperlink
idna
imageio
incremental
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
IronPdf
isoduration
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
keybert
kiwisolver
lazy_loader
libclang
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
more-itertools
mpmath
multidict
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
oauthlib
openai
openai-whisper
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandocfilters
parsel
parso
pdfminer.six
pdfplumber
pexpect
pickleshare
Pillow
platformdirs
pluggy
plyer
pocketsphinx
prometheus-client
prompt-toolkit
Protego
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
PyAudio
pycares
pycodestyle
pycparser
pydantic
pydantic_core
PyDispatcher
Pygments
PyJWT
PyMuPDF
PyMuPDFb
PyQt5
pywin32
nltk
win10toast
pyserial
pyOpenSSL
pyparsing
pypdf
pypdfium2
pyrsistent
PySocks
pytest
python-dateutil
python-json-logger
python-socks
pythonnet
pyttsx3
pytz
PyYAML
pyzmq
qtconsole
QtPy
queuelib
rake-nltk
readwrite
regex
requests
requests-file
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
safetensors
schedule
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
sentence-transformers
service-identity
six
sniffio
sounddevice
soupsieve
SpeechRecognition
stack-data
sympy
tabula
tabulate
telegram
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
textblob
threadpoolctl
tifffile
tiktoken
tinycss2
tk
tkPDFViewer
tldextract
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
twilio
Twisted
typing_extensions
tzdata
uri-template
urllib3
w3lib
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
WTForms
xxhash
y-py
yarl
ypy-websocket
zope.interface
